  header {
    text-align: center;
    background: url('https://i.imgur.com/CMcPkon.png');
    background-size: cover;
    color: red;
  }
  a {
    color: white;
  }
  h1 {
    font-size: 55px;
    font-family: caveat brush;
    color: brown;
    padding: 25px;
  }
  body {
  color: #f48642;
  background-color: #f7c888;
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
p {
  font-size: 18px;
  color: black;
  font-family: arial;
}

img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;

}
ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

.navbar {
  background-color: #f48642;
  display: flex;
  min-height: 10px;
  flex-direction: column;
}

.navbar a {
  float: center;
  font-size:22px;
  color: brown;
  text-align: center;
  padding: 14px 16px;
}

#store_form {
padding-left: 300px;
padding-bottom: 20px;
}
#students {
  padding-left: 260px;
  padding-top: 10px;}

article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 36px;
      padding: 5px;
    }
    li {
      padding: 5px;
      display: block;
    }
  }
.footer {
text-align: center ;
font-size: 18px ;
font-family: caveat brush ;
color: brown;
width: auto ;
height: 20px ;
background-color: #f7c888 ;
}
